# Multiple Linear Regression

In [2]:
from faker import Faker
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score
from statsmodels.api import OLS, add_constant
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [3]:
# Generate Data
fake = Faker()
np.random.seed(42)

owners = [fake.name() for i in range(100)]
addresses = [fake.address() for i in range(100)]

square_footage = np.random.randint(500, 4000, 100)
bedrooms = np.random.randint(1, 6, 100)
age = np.random.randint(1, 100, 100)
location_score = np.random.randint(1, 10, 100)
price = (square_footage * 150) + (bedrooms * 1000) - (age * 500) + (location_score * 2000) + np.random.randint(-10000, 10000, 100)

df = pd.DataFrame({
    'owner': owners,
    'address': addresses,
    'square_footage': square_footage,
    'bedrooms': bedrooms,
    'age': age,
    'location_score': location_score,
    'price': price
})

df

                 owner  ...   price
0   Alexander Williams  ...  548608
1        Austin Miller  ...  179051
2           Lisa Moore  ...  272079
3           Kyle Smith  ...  250888
4      Jeremy Williams  ...  219626
..                 ...  ...     ...
95     Heather Jenkins  ...  399358
96        Corey Vargas  ...  188517
97        Angel Hanson  ...  577509
98     Meredith Walker  ...   99995
99        Jenna Carter  ...  238088

[100 rows x 7 columns]

In [4]:
# Define Independent and Dependent Variables
X = df[['square_footage', 'bedrooms', 'age', 'location_score']]
Y = df['price']